.body{
    padding:40px 0px;
}
.side_content{
    margin-right: 30px;
}
.my_warriors{
    width : 70%
}
.gaming-warrior{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
@media (max-width:768px) {
    .gaming-warrior{ 
        place-items: center;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
 }
